@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$hetic-green: #0de595;

body,
button,
input,
select,
textarea {
  font-family: 'Roboto';
}

.big-header {
  background-color: $hetic-green;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: white;
}

.button {
  color: $hetic-green;
  text-decoration: none;
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

.pane-leave-active,
      .pane-enter-active {
        animation: fake 5s;
        &::before {
          content: '';
          position: absolute;
          background: black;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          transform: translateX(100vw);

          transition: transform 2.5s;
        }
      }

      .pane-leave-to {
        &::before {
          transform: translateX(0);
        }
      }
      // .pane-enter {
      //   &::before {
      //     transform: translateX(0);
      //   }
      // }

      // .pane-enter-to {
      //   &::before {
      //     transform: translateX(-100vw);
      //   }
      // }
    
      body {
        overflow: hidden;
      }