@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import './cssgram.scss';

$hetic-green: #FF6F61;

body,
button,
input,
select,
textarea {
  font-family: 'Roboto';
}

.big-header {
  background-color: $hetic-green;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: white;

  &.tristanLose {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
      ) ,url('../img/bourin_lose.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.tristanWin {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
      ), url('../img/bourin_win.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.kentoWin {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
      ), url('../img/ninja_win.jpg');
    background-repeat: no-repeat;
    background-size: cover;;
  }

  &.kentoLose {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
      ), url('../img/ninja_lose.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.button {
  color: $hetic-green;
  text-decoration: none;
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}


/* TODO: Modify this animation */

.slide-leave-active,
.slide-enter-active {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw);
    background: black;
    z-index: 2;
  }
}

.slide-leave-active {
  animation: fake 1s;

  &::after {
    animation: slideLeave 1s;
  }
}

.slide-enter-active {
  animation: fake 2s;

  &::after {
    animation: slideEnter 1s ease 1s;
  }
}

.fadegame-enter-active, .fadegame-leave-active {
  transition: opacity .5s;
}
.fadegame-enter, .fadegame-leave-to {
  opacity: 0;
}

.game__content {
  min-height: 100vh;
  width: 100vw;
  background: $hetic-green;
}

@keyframes slideLeave {
  to {
    transform: translateX(0);
  }
}

@keyframes slideEnter {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

#soundControl {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 35px;
}